:root {
  font-synthesis: none;
  font-size: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --primary-color: #789F84;
  --accent-color: #E3B130;
  --white-color: rgb(250, 250, 250);
  --black-color: rgb(0, 0, 0);
  --sm-font: clamp(1.05rem, 1vw, 2.75rem);
  --med-font: clamp(1.25rem, 3vw, 2rem);
}

* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  background-color: var(--white-color);
  height: 100%;
  width: 100%; 
  position: relative;
  font-family: 'Playfair Display', serif;
}

h1, h3 {
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
  font-family: 'Lobster Two', cursive;
}

h1 {
  font-size: clamp(3.5rem, 6vw, 10rem);
  font-weight: 600;
  color: var(--accent-color);
  text-align: right;
  padding: 0 2%;
}

h2 { 
  color: var(--primary-color);
  font-size: clamp(2rem, 3vw, 3rem);
  text-align: right;
  max-width: 100%;
  margin: 0 auto;
  padding: 2%;
}

h3 {
  font-size: clamp(2.75rem, 5vw, 5rem);
  color: var(--accent-color);
  text-align: center;
  padding: 0.5em 0;
}

main {
  position: relative;
  height: 100%;
}

section {
  background-color: transparent;
  min-width: 300px;
  text-align: center;
  align-self: center;
}

article {
  position: relative;
}

img {
  object-fit: contain;
  object-position: center;
  max-width: 100vw;
}

a:link, a:visited, a:hover, a:active {
  color: var(--black-color);
  text-align: center;
  text-decoration: none;
  transition: color 500ms ease-in-out;
}

a:hover {
  color: var(--accent-color) !important;
}

ul {
  list-style-type: none;
}

nav {
  min-width: 100vw;
  min-height: 4rem;
  z-index: 999;
  position: fixed;
  transition: opacity 300ms ease-in-out;
}

nav a {
  font-size: 1.5rem;
  color: white !important;
}

.nav-logo {
  overflow: hidden;
  max-width: 4rem;
  max-height: 4rem;
  border-radius: 10%;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
}

.mobile-nav > button {
  height: 4rem;
  aspect-ratio: 1 / 1;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0.5rem;
  margin: 0.5rem;
  color: black;
  border: none;
  border-radius: 10%;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
  background-color: var(--white-color);
}

.mobile-nav > button > span {
  font-size: 2.5rem;
}

.mobile-links {
  max-width: 100%;
  display: none;
  flex-direction: column;
  gap: 2rem;
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 1px 0 10px rgba(0, 0, 0, 0.25);
  padding: 0.5rem;
}

.mobile-links > a {
  margin: 0 auto;
  width: fit-content;
}

.desktop-nav {
  min-height: 4rem;
  margin: 0 auto;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 4rem;
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 1px 0 10px rgba(0, 0, 0, 0.25);
}

.nav-logo > img {
  max-width: 100%;
  max-height: 100%;
}

.ghost {
  opacity: 0;
}

.active {
  display: flex;
}

/* ************************************************** */

header {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  max-width: 100vw;
}

.cover-img {
  background-image: url(../src/assets/cover-art.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 40% 4rem;
  width: 60%;
  min-width: 400px;
  height: 100vh;
  min-height: 250px;
}

.header-titles {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: 60%;
  padding: 0 2%;
}

.cover-img-portrait {
  background-image: url(../src/assets/cover-art.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 400px;
  height: 100vh;
  min-height: 250px;
  width: 100%;
  background-position: 50% 50%;
}

.header-titles-portrait {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0 0.5rem;
  margin: 0 auto;
  width: 100%;
  align-self: center;
  background-color: rgba(255, 255, 255, 0.9);
}

.discount-cta {
  position: absolute;
  right: 0;
  background-color: #23395d;
  border-radius: 0.5em;
  max-height: 150px;
  margin-right: 3rem;
  padding: 1rem;
  color: white;
}

.discount-cta span {
  display: block;
  font-size: 1.5em;
  text-align: center;
}

.discount-cta a {
  color: white;
  display: block;
  text-decoration: underline;
  text-align: center;
  font-size: 1em;
}

/* ************************************************** */

.services-intro {
  background-color: var(--primary-color);
  margin: 0 auto;
}

.services-intro p {
  font-size: var(--med-font);
  color: white;
  margin: 0 auto;
  max-width: 1410px;
  padding: 0 1em 2em 1em;
}

.services-options {
  min-height: 450px;
  position: relative;
}

.services-bg {
  z-index: -1;
  background-image: url(../src/assets/female-bare-feet-hands-manicure-pedicure-concept.jpg);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: right;
  position: absolute;
  height: 100%;
  width: 100%;
}

.services-grid {
  width: 100%;
  height: 100%;
  max-width: 1410px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 0.5em;
  place-items: center;
  margin: 0 auto;
  padding: 2em 2em 3em 2em;
}
  
.services-grid > .card {
  background-color: rgba(255, 255, 255, 0.75);
  background-repeat: no-repeat;
  background-position: center;
  justify-self: center;
  aspect-ratio: 1 / 1.2;
  width: 100%;
  position: relative;
  border: 2px solid black; 
}

.services-grid > .card::before, .services-grid > .card::after {
  content: "";
  position: absolute;
  width: 0;
}

.services-grid > .card::before {
  top: -2px;
  left: -2px;
  border-top: 2px solid var(--accent-color);
  border-left: 2px solid var(--accent-color);
}

.services-grid > .card::after {
  bottom: -2px;
  right: -2px;
  border-bottom: 2px solid var(--accent-color);
  border-right: 2px solid var(--accent-color);
}

.services-grid > .card:hover::before, .services-grid > .card:hover::after {
  animation: enclose 1s forwards;
}

.service-img {
  object-fit: contain;
  object-position: center;
  transform: scale(0.75);
  height: 100%;
  width: 100%;
  transition: transform 0.8s ease-in-out;
}

.card:hover > .service-img {
  transform: scale(0.5);
}

.service-link {
  color: black;
  font-size: var(--med-font);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  transition: color 1s ease-in-out;
}

.service-link:hover {
  color: var(--accent-color);
}

@keyframes enclose {
  0% {
    height: 0%;
    width: 0%;
  }
  50% {
    height: 0%;
    width: 100%;
  }
  100% {
    height: calc(100% + 2px);
    width: calc(100% + 2px);
  }
}

.testimonials {
  background-color: var(--primary-color);
  padding-bottom: 3em;
}

.carousel {
  width: 75%;
  min-width: 350px;
  max-height: 450px;
  aspect-ratio: 2 / 1;
  background-image: url("/assets/tropical-green-leaves-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 1em auto;
  border: 2px solid black;
  position: relative;
  overflow: hidden;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
  height: 100%;
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.carousel-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.button-arrow, .button-indicator {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}

.carousel-indicators {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.5em;
}

.indicator-symbol-active {
  color: var(--accent-color);
}

.item-details {
  color: white;
  white-space: normal;
  padding: 0 1em;
  font-size: var(--med-font);
}

.item-details > p:nth-child(2) {
  text-align: right;
}

.contact {
  position: relative;
  padding-bottom: 3em;
}

.contact-bg {
  z-index: -1;
  background-image: url(../src/assets/spa-composition-with-care-items-light-wall.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 75%;
  position: absolute;
  height: 100%;
  width: 100%;
}

.contact-cards {
  width: 100%;
  max-width: 1410px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  justify-items: center;
}

.contact-card {
  display: flex;
  flex-direction: column;
  gap: 3.5em;
  aspect-ratio: 1 / 1;
  width: 100%;
  max-width: 300px;
  margin: 2%;
  padding: 10% 1em;
  border: 2px solid var(--accent-color);
  background-color: rgba(255, 255, 255, 0.75);
}

.contact-card > span {
  font-size: 2.5rem;
  text-align: center;
  color: var(--accent-color);
}

.contact-details {
  font-size: var(--sm-font);
}

.opening-hours > .time {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 0.25em;
}

.footer {
  text-align: center;
  gap: 0.5em;
  padding: 3% 0;
}

.footer > .social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
}

.social-links > a > img {
  height: 2.5rem;
}

.footer > span {
  color: black;
  font-size: var(--sm-font);
}

.services-page {
  height: 100%;
  width: 100%;
  position: relative;
}

.services-content {
  background-image: url(../src/assets/tropical-green-leaves-background.jpg);
  background-repeat: repeat;
  background-position: center 5rem;
  background-size: 100%;
  padding-top: 5em;
  position: relative;
  min-height: 100vh;
}

.nav-services {
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  min-height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.services-sections {
  margin: 0 auto;
  padding: 5%;
  min-width: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
} 

.services-sections article {
  padding: 2% 0;
}

.services-sections > * {
  width: 90%;
  border: 2px solid var(--black-color);
  background-color: rgba(255, 255, 255, 0.9);
  margin: 1em 0;
  padding: 1em;
}

.services-sections article > * {
  padding: 0.75% 2%;
}

.services-sections h2 {
  text-align: left;
}

.services-sections h3, .services-sections ul {
  text-align: left;
}

.services-sections ul {
  display: flex;
  justify-content: space-evenly;
}

.highlight {
  display: block;
  text-align: right;
  background-color: var(--primary-color);
  color: white;
}

.services-sections p, .type {
  text-align: left;
}

.price-table {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.price-table > * {
  padding: 1% 0;
}

.price {
  text-align: right;
  border-bottom: 1px dotted var(--black-color);
}

.drinks-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drinks-list > li {
  padding: 1% 0;
}

.gallery > article {
  height: 100vh;
  padding-top: 5em;
}

.gallery h2 {
  text-align: center;
}